@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

$layout-color: #202020;
$background-color: #2f2f2f;
$text-color: #ffffff;
$label-color: #999999;

.flex {
  display: flex;
  align-items: center;
}

.navbar_linkactive {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 16px 0 0 16px;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: capitalize;
  color: $text-color;
  font-size: 20px;
  background-color: $background-color;
}
body {
  background-color: $background-color;
}
section {
  display: flex;

  .navbar {
    display: flex;
    width: 20%;
    height: 120vh;
    background-color: $layout-color;
    justify-content: end;
    .navbar_menu {
      width: 90%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      img {
        width: 80px;
        height: 80px;
        margin-right: 35px;
        margin-top: -40px;
        margin-bottom: 30px;
      }
      .line{
        position: relative;
        left: -20px;
      }
      .navbar_link {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        border-radius: 16px 0 0 16px;
        padding: 10px 40px;
        text-decoration: none;
        text-transform: capitalize;
        color: $text-color;
        font-size: 20px;
        background-color: $layout-color;
      }
    }
  }
}
// Component Navbar
.navbar_length {
  width: 100%;
  height: 75px;
  justify-content: end;
  padding-right: 75px;
  background-color: $layout-color;
  .navbar_username {
    color: $text-color;
    font-size: 20px;
    text-decoration: none;
  }
}

.wrapper {
  padding: 50px;
  h1 {
    font-size: 30px;
    text-transform: capitalize;
    color: $text-color;
  }
  h2 {
    font-size: 20px;
    margin-top: 20px;
    text-transform: capitalize;
    color: $text-color;
  }
  .tovar_brand {
    display: flex;

    flex-direction: column;
    label {
      font-size: 16px;
      padding: 10px 0;
      color: $label-color;
    }
    .tovar_input {
      width: 200px;
      height: 40px;
      padding-left: 8px;
      background-color: transparent;
      outline: none;
      border-radius: 8px;
      border: 1px solid $label-color;
      color: $text-color;
    }
    .tovar_input_file {
      background-color: $background-color;
    }
  }
}

.contact {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  .label-input {
    display: flex;
    flex-direction: column;
    label {
      font-size: 16px;
      color: $label-color;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    input {
      width: 200px;
      height: 40px;
      padding-left: 8px;
      background-color: transparent;
      color: $text-color;
      outline: none;
      border-radius: 8px;
      border: 1px solid $label-color;
    }
  }
}
.submit {
  width: 200px;
  height: 40px;
  margin-top: 18px;
  background-color: $layout-color;
  color: $text-color;
  outline: none;
  border-radius: 8px;
  border: 1px solid $layout-color;
}

// Buyurtma
.wrap {
  display: flex;
  flex-direction: column;
  width: 1000px;
  .card {
    margin-top: 50px;
    width: 80%;
    border: 1px solid $text-color;
    border-radius: 5px;
    justify-content: space-between;
    .info {
      display: flex;

      .main-info {
        margin-left: 25px;
        .brand-about {
          width: 90%;
          color: $label-color;
          font-size: 12px;
          margin-bottom: 15px;
        }
        .about {
          margin: 15px 0;
          width: 110%;
          color: $text-color;

          justify-content: space-between;
        }
        .data {
          color: $text-color;
          justify-content: space-between;
        }
      }
    }
    .right {
      height: 200px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-around;
      h5 {
        color: $text-color;
      }
      button {
        width: 100px;
        color: $text-color;
        height: 30px;
        border: none;
        background-color: $layout-color;
        outline: none;
      }
    }
  }
}
