@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

$layout-color: #202020;
$background-color: #2f2f2f;
$text-color: #ffffff;

.flex {
  display: flex;
  align-items: center;
}

.navbar_linkactive{
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 16px 0 0 16px;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: capitalize;
  color: $text-color;
  font-size: 24px;
  background-color: $background-color;
}
body{
  background-color: $background-color;
}
section{
  display: flex;

.navbar {
  display: flex;
  width: 20%;
  height: 100vh;
  background-color: $layout-color;
  justify-content: end;
  .navbar_menu {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    img{
      width: 100px;
      height: 100px;
      margin-right: 35px;
      margin-top: -40px;
      margin-bottom: 30px;
    }
    .navbar_link {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      border-radius: 16px 0 0 16px;
      padding: 10px 40px;
      text-decoration: none;
      text-transform: capitalize;
      color: $text-color;
      font-size: 24px;
      background-color:$layout-color;
    }
  }
}
}
// Component Navbar
.navbar_length{
  width: 100%;
  height: 75px;
  justify-content: end;
  padding-right: 75px;
  background-color: $layout-color;
  .navbar_username{
    color: $text-color;
    font-size:20px;
    text-decoration: none;
  }
}


.tovar_input{
  width: 200px;
  height: 40px;
}